@font-face {
    font-family: fraunce;
    src: url(./Fraunces.ttf);
}
@font-face {
    font-family: domain;
    src: url(./domain.ttf);
}
@font-face {
    font-family: first;
    src: url(./first.ttf);
}






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
   
    /* background-color: red; */
}


nav{
    width: 100%;
    /* height: 25vh; */
    /* background-color:yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vmax;
    margin-top: 1.3vmax;
}

nav h1{
    color: #fb5101;
    font-size: 9.5vmax;
    font-weight: 900;
    font-family:fraunce; 
    
                                                                                                                              
}

nav h2 span{
    /* background-color: red; */
    padding:0px 7vmax 0px 0px;
    margin: 1vmax;
    color: #624D16;
    font-weight: 100;
    font-family: domain;
    font-size: 2vmax;



}

nav h2  .ri-menu-fill{
    background-color: #0a74ae;
    font-size: 2.5vmax;
    border-radius: 50%;
    padding: 2.5vmax;
    color: white;
    font-weight: 100;
}

nav h2  .ri-menu-fill:hover{
    cursor: pointer;
}

#nav-right{
    width: 50%;
    height: 100vh;
    top: 0;
    right: -50%;
    position: absolute;
    background-color: #fb5101;
    display: flex;
    justify-content: space-between;
    transition: all cubic-bezier(1,.6,1,1) .6s;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    position: fixed;
    

}

#nav-right::-webkit-scrollbar{
    display: none;
}



#nav-right ul{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    list-style: none;
    font-family: fraunce;
    font-size: 5vmax;
    margin: 8vmax;
    
    /* background-color: yellow; */
 }

 #nav-right ul li{
    padding: 1vmax;
    color: #f6f6ee;
 }

 #nav-right ul li:hover{
    cursor: pointer;
    color: #624D16;
 }
 #nav-right h1 :hover{
    cursor: pointer;
    color: #624D16;
 }

 

 #nav-right h1{
    font-size: 7vmax;
    color: #f6f6ee;
    font-weight: 100;
    position: absolute;
    right: 0%;
    /* background-color: yellow; */
    /* padding-top: 60px; */
 }



nav h2  .ri-contacts-fill{
    background-color: #0a74ae;
    font-size: 2.5vmax;
    border-radius: 50%;
    padding:  .7vmax;
    color: white;
    font-weight: 100;
}

#page1{
    
    /* position: relative; */
    width: 100%;
    /* height: 215vh; */
    margin-top: 9vmax;
    padding: 5vh;
    /* background-color: red; */

}

#page1 h1{
font-family: domain;
font-size: 3.3vmax;
color: #624D16;
padding-bottom: 2.1vmax;
font-weight: 100;
text-transform: uppercase;
}

#page1 img{
    width: 100%;
    /* height: 780px; */
    object-fit: cover;
    overflow: hidden;
    object-position: left;
}

#p1-footer{
    width: 100%;
    /* height: 650px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p1-footer h1{
    padding-top: 5vmax;
    color: #0f77b0;
    font-family:fraunce;
    text-transform: capitalize;
    font-size: 6.3vmax;
    display: flex;
    flex-direction: column;  
    text-align: center;
    line-height: 7vmax;
}
#p1-footer p{
    color: #624D16;
    text-align: center;
    font-size: 2vmax;
    line-height: 3.1vmax;
    padding-bottom: 2vmax;
    font-family: domain;
    font-weight: 100;
    width: 43vmax;
    /* background-color: pink; */

}
#p1-footer button{
    margin-top: 2.2vmax;
    background-color: #0a74ae ;
    height: 10vmax;
    width: 10vmax;
    border-radius: 50%;
    white-space: nowrap;
    color: white;
    font-weight: 100;
    border: none;
    font-family: domain;
    font-size: 1.3vmax;
    margin-bottom: 1vmax;
    transition: all ease .3s;
}
#p1-footer button:hover{
    border: 1px solid  #0a74ae ;
    color: #0a74ae;
    background-color: transparent;
    cursor: pointer;
}

#page2{
    width: 100%;
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
    /* background-color: black; */
    
    
}
#page2-left{
    width: 100%;
    

}

#page2-left img{
    width: 90%;
    height: 60vmax;
    overflow: hidden;
    align-items: start;
    /* object-position: center ; */
    
    vertical-align: middle;
    
   
}

#page2-right{
    width: 100%;
    /* height: 100%; */
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 12vmax;
    /* justify-content: space-between; */
}



#page2 #page2-right h1{
    padding-top: 2vmax;
    color: #0f77b0;
    font-size: 6.3vmax;
    display: flex;
    flex-direction: column;
    font-family: fraunce;
}

#page2 #page2-right p {
    color: #624D16;
    text-align: center;
    font-size: 2vmax;
    line-height: 3.1vmax;
    text-align: start;
    font-family: domain;
    margin-top: 2vmax;
    width: 88%;
    text-align: start;
    /* margin-bottom: 2vmax; */
}


#page2 #page2-right button{
    margin-top: 3vmax;
    background-color: #0a74ae ;
    height: 10vmax;
    width: 10vmax;
    border-radius: 50%;
    white-space: nowrap;
    color: white;
    font-weight: 100;
    border: none;
    font-family: domain;
    font-size: 1.3vmax;
    margin-bottom: 1vmax;
    transition: all ease .3s;
}
#page2 #page2-right button:hover{
    border: 1px solid  #0a74ae ;
    color: #0a74ae;
    background-color: transparent;
    cursor: pointer;
}


#page3{
    width: 100%;
    background-color: white;
    display: flex;
}

#page3-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 20vmax;
    
}

#page3-left h1{
    padding-top: 5vmax;
    font-size: 2.5vmax;
    margin-left: -10vmax;
    line-height: 4vmax;
    color: #0a74ae;
    /* letter-spacing: -1px; */
    font-family: fraunce;
    /* background-color: yellow; */

}

#page3-left h2{
    font-size: 1.4vmax;
    margin-left: -10vmax;
    line-height: 4vmax;
    color: #624D16;
    /* letter-spacing: 1px; */
    font-family: domain;
    font-weight: 100;
    

}

#page3 img{
    object-fit: scale-down;
    overflow: hidden;
    width: 30vmax;
    height: 42.7vmax;
    object-position: center;
    margin-bottom: 2vmax;
    margin-top: 2vmax;
    
}

#page4{
    width: 90%;
    /* height: 225vh; */
    background-color: #f6f6ee;
    margin: auto;
   

}
#page4 #page4-upper{
    width: 100%;
    /* height: 80vh; */
    display: flex;
    padding-top: 5vmax;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    
}

#page4-upper::-webkit-scrollbar{
    display: none;
}

#page4-s1,#page4-s2,#page4-s3,#page4-s4{
    /* padding: 80px; */
    margin: 4.5vmax;
   
    
}
#page4 #page4-upper #page4-s1 h1{
    width: 12vmax;
    color: #0A74AE;
    font-size: 2.8vmax;
    line-height: 3vmax;
    font-family: fraunce;
    /* text-transform: capitalize; */
    /* background-color: pink; */
    

}

#page4 #page4-upper #page4-s1 button{
    margin-top: 3vmax;
    background-color: #0a74ae ;
    height: 10vmax;
    width: 10vmax;
    border-radius: 50%;
    white-space: nowrap;
    color: white;
    font-weight: 100;
    border: none;
    font-family: domain;
    font-size: 1.3vmax;
    margin-bottom: 1vmax;
    transition: all ease .3s;
}

#page4 #page4-upper #page4-s1 button:hover{
    border: 1px solid  #0a74ae ;
    color: #0a74ae;
    background-color: transparent;
    cursor: pointer;
}



#page4 #page4-upper h2{

    color: #0A74AE;
    font-size: 2vmax;
    line-height: 2.2vmax;
    font-family: fraunce;
    /* background-color: violet; */

    
}

#page4 #page4-upper h3{
    color: #0A74AE;
    font-size: 1.3vmax;
    font-weight: 100;
    line-height: 1.6vmax;
    padding-top: 1.2vmax;
    font-family: domain;
    /* background-color: red; */
    
}

#page4-lower{
    width: 100%;
    /* height: 100%; */
    display: flex;
    
align-items: start;
   

}
#page4-lower-left{
    padding-left: 1vmax;
}

#page4-lower-right{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#page4-lower-right-lower{
    display: flex;
    align-items: center;
}

#page4-lower img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    padding: 1vmax;
    /* margin-bottom: 4vmax; */
}

#page5{
    /* width: 100%; */
    /* height: 112vh; */
    background-color: #f6f6ee;
    margin: 0 3vmax;
    margin-top: 35vmax;
    margin-bottom: 2vmax;
}

#page5-upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */
    padding: 4vmax 5vmax 0 5vmax;
}


#p5u-left{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    /* background-color: green; */
    padding: 1vmax;

}

#p5u-left h1{
    font-family: fraunce;
    font-size: 6.5vmax;
    color: #fb5101;
    margin-bottom: 18vmax;
}

#p5u-right{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 2.8vmax;

}

#p5u-right h1{
    font-family: fraunce;
    font-size: 2.5vmax;
    color: #0A74AE;
    /* margin-bottom: 5vh */
    /* background-color: red; */

}

#p5u-right h2{
    margin-top: 3.5vmax;
    font-family: domain;
    font-size: 1.7vmax;
    font-weight: 100;
    color: #0A74AE;
    /* margin-left: vmax; */

}

#page5-lower{
    width: 100%;
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 0vmax 7vmax 2.5vmax 7vmax;

}

#page5-lower h1{
   font-family: fraunce;
   color: #0A74AE;
   font-size: 4vmax;
}

#page5-lower h2 input{
    height: 3vmax;
    width: 39vmax;
    font-family: first;
    padding: .3vmax;
    border: #0A74AE;
    font-size: 1.5vmax;

}
#page5-lower h2 button{
    height: 3vmax;
    width: 7vmax;
    font-family: first;
    padding: .5vmax;
    background-color: #0A74AE;
    color: #f6f6ee;
    font-size: 1.2vmax;
    border-radius: 1vmax;
    margin: 1vmax;
    border: none;

}
#page5-lower h2 button:hover{
    border: 1px solid  #0a74ae ;
    color: #0a74ae;
    background-color: transparent;
    cursor: pointer;
}




#page5-lower h3{
    font-family: domain;
    font-size: 1.2vmax;

}




/* menu page css */

#menu-p1 {
    width: 100%;
    min-height: 100%;
   
}
#menu-p1 h2 {
    font-size: 4vmax;
    color: #fb5101;
    font-family: fraunce;
    margin: 5vmax;
    margin-top: 10vmax;
    /* background-color: red; */
   
}

#menu-p1-heading h1{
    /* background-color: red; */
    font-size: 8vmax;
    font-family: fraunce;
    padding-left: 13vmax;
    color: #0a74ae;

}

#menu-p1-heading h6{
    /* background-color: red; */
    font-size: 2vmax;
    font-family: domain;
    padding-left: 13vmax;
    color: #0a74ae;
    padding-top: 2vmax;
    font-weight: 200;
}
#menu-p1-main{
    width: 100%;
    /* height: 500px; */
}
#menu-p1-main h3 , #menu-p2-main h3{
    font-family: fraunce;
    margin-left: 13vmax;
    margin-right: 11vmax;
    color: #0A74AE;
    font-size: 3vmax;
    padding-top: 5vmax;
    padding-bottom: 2vmax;
    border-bottom: 1px solid #624D16 ;

}

#menu-p1-main h5,#menu-p2-main h5{
    font-size: 2vmax;
    font-family: domain;
    padding-left: 13vmax;
    color: #624D16;
    padding-top: 2vmax;
    font-weight: 200;
}

#menu-p1-main-items ul,#menu-p2-main-items ul{
    /* height: 450px; */
    width: 100%;
    padding: 6vmax 13vmax 0px 13vmax;
    list-style: none;
    /* background-color: red; */
    font-size: 2vmax;
    font-family: domain;
    color: #624D16;
    line-height: 3vmax;
    
    
    
}

#menu-p2-main{
    width: 100%;
    margin-top: 19vmax;
    /* background-color: red; */
}

#menu-p2 {
    width: 100%;
    /* height:70vh; */
    /* background-color: red; */
   
}

#menu-p2-img h1 {
   
   display: none;
}

#menu-p2-img h2 {
    
    display: none;
 } 

 

